<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.isel.pdm.beegeesapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".BggApplication"
        android:allowBackup="true"
        android:icon="@mipmap/beegees_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/beegees_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".bgg.primaryActivities.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.primaryActivities.about.AboutActivity"/>
        <activity android:name=".bgg.primaryActivities.GameDetailedViewActivity" />
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.primaryActivities.search.SearchActivity" />
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.primaryActivities.favourites.FavouritesActivity" />
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.primaryActivities.trending.TrendingActivity" />
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.primaryActivities.userlists.UserListsActivity" />
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.primaryActivities.userlists.detaileduserlists.ListDetailedViewActivity" />
        <activity android:name="edu.isel.pdm.beegeesapp.bgg.auxiliaryActivities.chooselisttoadd.ChooseListToAddGameActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>